@font-face {
    font-family: "Parry Hotter";
    src: url('assets/ParryHotter.ttf');
}

h1 {
    text-align: center;
    font-family: "Parry Hotter";
    font-size: 5em;
}

#nav {
    display: block;
    margin: auto;
}

.selected_text {
    font-size: 25px !important;
}

#nav text {
    stroke-width: 0.1px;
    fill: white;
    font-size: 20px ;
    pointer-events: none;
}

#nav rect {
    stroke-width: 1em;
}

.hidden {
    display: none;
}

svg {
    padding: 10px;
}

text {
    font-size: 12px;
}

#spells text {
    font-size: 18px;
}

#word_count rect {
    stroke: black;
    stroke-width: 0.5em;
}

#lines path {
    stroke-width: 0.5em;
}

#lines #circles circle {
    stroke-width: 0.5em;
}

#spells #aster path {
    stroke-width: 0.5em;
}

#deaths text {
    text-anchor: middle;
    font-size: 20px;
}

.storyTextBig {
    font-size: 15px !important;
}

.background {
    fill: #eee;
}

.active {
    font-size: 20px !important;
}

.nonactive {
    font-size: 10px !important;
}

.d3-tip {
    /*line-height: 5;*/
    padding-left: 10px;
    padding-right: 10px;
    min-width: 400px;
    border-style: groove;
    /*padding: 12px;*/
    background: #FFFFFF;
    color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    pointer-events: none;
}