@font-face {
    font-family: "Parry Hotter";
    src: url('assets/ParryHotter.ttf');
}

h1 {
    text-align: center;
    font-family: "Parry Hotter";
    font-size: 5em;
}

h3 {
    text-align: center;
    font-family: "Parry Hotter";
    font-size: 3em;
}

#nav {
    display: block;
    margin: auto;
}

svg {
    display: block;
    margin: auto;
}

.selected_text {
    font-size: 16px !important;
}

#nav text {
    stroke-width: 0.1px;
    fill: white;
    font-size: 12px ;
    pointer-events: none;
}

#nav rect {
    stroke-width: 0.5em;
}

.hidden {
    display: none;
}

svg {
    padding: 10px;
}

#story text {
    font-size: 8px;
}

#spells text {
    font-size: 13px;
}

#word_count rect {
    stroke: black;
    stroke-width: 0.3em;
}

#lines path {
    stroke-width: 0.3em;
}

#lines #circles circle {
    stroke-width: 0.5em;
}

#spells #aster path {
    stroke-width: 0.1em;
}

#deaths text {
    text-anchor: middle;
    font-size: 15px;
}

#story p {
    text-align: center;
}

.storyTextBig {
    font-size: 14px !important;
}

.background {
    fill: #eee;
}

.active {
    font-size: 15px !important;
}

.nonactive {
    font-size: 5px !important;
}

.summary {
    width: 750px;
    display: block;
    margin: auto;
    margin-top: -50px;
    margin-bottom: 30px;
    text-align: center;
}

.d3-tip {
    padding-left: 10px;
    padding-right: 10px;
    min-width: 50px;
    border-style: groove;
    background: #FFFFFF;
    color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    pointer-events: none;
}

.d3-tip p {
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}